/*  your css code here. If applicable */
 .circle-container{
	        display: flex;
            justify-content: center;
	     align-items: center;
	   gap:30px;
	 
      border:4px solid black;
      border-radius:50px; 
	  height:300px;
	 background-color:lightgrey;
}
     .circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

 .circle1 {
            background-color: green;
        }

        .circle2 {
            background-color: yellow;
        }

        .circle3 {
            background-color: red;
        }


